---
kubernetes_master_ip: "{{ hostvars[groups['master-ubuntu'][0]]['ansible_default_ipv4']['address'] }}"
kubernetes_pod_network_cidr: "10.200.0.0/16"
kubernetes_service_cidr: "10.201.0.0/16"
kubernetes_cluster_dns: "10.201.0.10"
kubernetes_cluster_domain: "cluster.local"

kubernetes_reset_master: False

http_proxy: ""  # Define your proxy here
https_proxy: ""  # Define your proxy here
no_proxy: "{{ kubernetes_master_ip }},{{ kubernetes_service_cidr }},{{ kubernetes_pod_network_cidr }}"
configure_proxy: "{{ True if http_proxy or https_proxy or no_proxy else False }}"

env_vars:
  HTTP_PROXY: "{{ http_proxy }}"
  HTTPS_PROXY: "{{ https_proxy }}"
  NO_PROXY: "{{ no_proxy }}"