[defaults]
gathering = smart
fact_caching = jsonfile
fact_caching_connection = /tmp/facts_cache

# two hours timeout
fact_caching_timeout = 7200

forks = 100

connection_plugins = ./connection_plugins
host_key_checking = False

# additional paths to search for roles in, colon separated
roles_path    = /etc/ansible/roles:~/.ansible/roles/:roles:roles/3d/kubespray/roles/:roles/3d/kubernetes-for-windows/ansible/roles

lookup_plugins = ~/.ansible/plugins/lookup_plugins/:/usr/share/ansible_plugins/lookup_plugins:roles/3d/kubespray/library/

[ssh_connection]
pipelining = True
control_path = /tmp/ansible-ssh-%%h-%%p-%%r